extends ../app/views/layout

block content
  p #{content}
  .pages
    ul
      li
        a(href='/login') Login
      li
        a(href='/signup') Sign Up
      li
        a(href='/places') Places
      li
        a(href='/commutes') Commutes
