doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // bower:css
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-table/src/bootstrap-table.css')
    // endbower
    link(rel='stylesheet', href='public/custom.css')
    title= title
  body
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='../bower_components/bootstrap-table/src/bootstrap-table.js')
    // endbower
    .container
      block content
