extends layout

block content
  table
    thead
      tr
        th Location
        th Number of Visits
    tbody
      for place in sorted_places
        tr
          td= place[0]
          td= place[1]
