extends ../app/views/layout

block content
  table.table.table-striped(data-classes='table-no-bordered' data-toggle='table'
    data-pagination='true' data-search='true' data-search-align='left')
    thead
      tr
        th(data-sortable='true') Location
        th(data-sortable='true') Number of Visits
        th(data-sortable='true') Average Arrival Time
    tbody
      for place in sorted_places
        tr
          td= place[0]
          td= place[1]
          td= place[2]
