extends ./layout

block content
  p #{content}
  .pages
    ul
      if d && user
        li
          p #{user}
      li
        a(href='/places') Places
      li
        a(href='/commutes') Commutes
